@font-face {
    font-family: "reoSpec";
    src: url(/media/Reospec.ttf);
}
html *  {
    font-family: "reoSpec";
}
body{
    margin: 0px;
}
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background-color: #222222;
    border-radius: 12px;
}
::-webkit-scrollbar-thumb {
    background-color: #0F0F0F;
    border-radius: 12px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #000000;
}
header {
    display: flex;
    align-items: center;
    height: 120px;
    background-color: #2E073F;
}
.head {
    display: flex;
    height: 80px;
    width: 100%;
    margin: 0px 13px 0px 13px;
    background-color: #7A1CAC;
    box-shadow: 0px 0px 15px #AD49E1;
    animation-name: slide;
    animation-duration: 2.6s;
    border-style: groove;
    border-color: #AD49E1;
    border-radius: 12px;
}
@keyframes slide {
    0% {
        transform: translateY(-100px);
    }

    100% {
        transform: translateY(0px);
    }
}
.title {
    display: flex;
    color: #EBD3F8;
    font-size: 3.5vw;
    padding: 7px;
    text-align: center;
    align-items: center;
    text-shadow: 5px 5px 7px #008170;
    margin: 0px 45px 0px 45px;
}
.menus {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    flex-grow: 3;
    padding: 7px;
    font-size: 2.1vw;
}
.content{
    height: auto;
    width: 100%;
    background-color: #0F0F0F;
}
.land {
    /* margin: 10px 0px 0px 0px; */
    width: 100%;
    animation-name: fadeIn;
    animation-duration: 2.6s;
}
@keyframes fadeIn {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}
.section2 {
    display: flex;
    background-color: #0F0F0F;
    color: white;
    font-size: 2.2vw;
    padding: 30px;
    align-items: center;
    justify-content: space-between;
}
#clickHere {
    width: 45%;
    height: 3.2vh;
    background-image: url(/media/photo1.png);
    border: 0px;
    transition: all 0.75s;
}
#clickHere:hover {
    transform: scale(1.07);
}
#clickHere:focus {
    transform: scale(.95);
    opacity: 75%;
}